# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules

# next.js
/.next/
/out/

# production
/build

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files
.env*

#cursor 
.cursor

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

#MCPServer
.cursor/mcp.json
.cursor/mcp.json.bak
.cursor/mcp.json.bak.2
.cursor/mcp.json.bak.3
.cursor/mcp.json.bak.4
.cursor/mcp.json.bak.5
.cursor/mcp.json.bak.6
.cursor/mcp.json.bak.7
.cursor/mcp.json.bak.8
.cursor/mcp.json.bak.9